<div class="container" style="text-align: center">
  <div class="row">
    <div style="padding-top: 40px;">
      <h2>REGLAMENTO PARA SELECTIVO DE LOS MUNDIALES</h2>
      <br>
      <br>
      <p>
        Se realizará el “SELECTIVO” para ir a los mundiales de la F.M.B.B. con 2 (dos)
        competencias por año y requerimiento mínimo e indispensable: obtener una puntuación de
        un BUENO ALTO, es decir 89% de la totalidad de los puntos.
      </p>
      <p>
        Para ingresar en el Selectivo: todo perro extranjero deberá ser nacionalizado con 6 (seis)
        meses de anticipación del primer selectivo.
      </p>
      <p>
        La Comisión Directiva del Club del Ovejero Belga decide que el puntaje que se aplica y que
        fuera especificado siempre será de aplicación para I.P.O. o cualquier otra actividad.
      </p>
      <p>
        El C.O.B. fijará cada año las fechas de realización del “selectivo”.
      </p>
      <p>
        El pedido de realizar el “selectivo” debe ser entregado por escrito en el Club, en mano, con
        30 días de anticipación a la fecha prevista, y con todos los datos del ejemplar: nombre
        completo, Nro de F.C.A., Tatuaje o Microchip, fecha de nacimiento, nombre de los padres,
        nombre del Guìa. Telèfono y mail del dueño del ejemplar. Este Club dictaminarà los jueces
        y demás. Y debe abonarse el arancel correspondiente al examen antes de rendir el mismo.
      </p>
    </div>
  </div>
</div>
<br>
<br>
<hr>
