<div class="container" style="text-align: center">
  <div class="row">
    <div class="offset-md-3 col-md-6" style="padding-top: 40px;">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="http://www.fca2000.org.ar/images/2017/REGLAMENTO_DE_JUECES_corregido_15_de_agosto_2017.pdf">
            Reglamento de Jueces
          </a>
        </li>
        <li class="list-group-item">
          <a href="http://www.fca2000.org.ar/index.php/esp/reglamentos/reglamentos-exposiciones/reglamento-exposiciones">
            Reglamento de exposiciones
          </a>
        </li>
        <li class="list-group-item">
          <a href="http://www.fca2000.org.ar/index.php/esp/reglamentos/reglamentos-exposiciones/reglamento-de-handling22">
            Reglamento de handling infantil y juvenil
          </a>
        </li>
        <li class="list-group-item">
          <a href="http://www.fca2000.org.ar/index.php/esp/reglamentos/adiestramiento/campeonato-mundial">
            Reglamento de Campeonato Mundial
          </a>
        </li>
        <li class="list-group-item">
          <a href="http://www.fca2000.org.ar/index.php/esp/reglamentos/adiestramiento/rci-i">
            Reglamento RCI I
          </a>
        </li>
        <li class="list-group-item">
          <a href="http://www.fca2000.org.ar/index.php/esp/reglamentos/adiestramiento/rci-ii">
            Reglamento RCI II
          </a>
        </li>
        <li class="list-group-item">
          <a href="http://www.fca2000.org.ar/index.php/esp/reglamentos/adiestramiento/rci-iii">
            Reglamento RCI III
          </a>
        </li>
        <li class="list-group-item">
          <a href="http://www.fca2000.org.ar/index.php/esp/reglamentos/jueces/jueces-estructura">
            Reglamento Jueces de Estructura
          </a>
        </li>
        <li class="list-group-item">
          <a href="http://www.fca2000.org.ar/index.php/esp/reglamentos/jueces/jueces-agility">
            Reglamento Jueces agility
          </a>
        </li>
        <li class="list-group-item">
          <a href="http://www.fca2000.org.ar/index.php/esp/reglamentos/jueces/jueces-obediencia">
            Reglamento Jueces obediencia
          </a>
        </li>
        <li class="list-group-item">
          <a href="http://www.fca2000.org.ar/index.php/esp/reglamentos/jueces/jueces-prueba-de-campo">
            Reglamento Jueces prueba de campo
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>
<br>
<hr>
