<div class="container container-page">

  <div class="col-lg-8 offset-2 text-center">
    <h1 class="title-container-page" style="margin-bottom: 150px;"> Sponsors </h1>


    <div class="row perro-card">
      <div class="col-4">
        <img class="img-fluid img-thumbnail image-perro" src="../../../cob/assets/img/purina.jpg">
      </div>

      <div class="col-md-8">
        <h2>Purina</h2>
        <h4>Pro Plan</h4>
        <hr>
        <a href="https://www.purina-latam.com/ar/proplan/" target="_blank">
          <button class="btn btn-outline-primary">
            <i class="fa fa-globe" aria-hidden="true"></i>

          </button>
        </a>
      </div>


    </div>

  </div>
</div>
