<div class="container">

  <div class="row">
    <div class="offset-2 col-md-8 content-title">
      <h1 class="home-title">Club del Ovejero Belga</h1>
      <h3 class="home-subtitle text-nowrap">Único club argentino de la raza reconocido por FCA - FCI</h3>
      <h4 class="home-subtitle text-nowrap">Afiliado a la FMBB</h4>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 content-img">
      <img src="../../../cob/assets/img/cob.jpg" alt="">

      <hr>
      <br>

      <div>
        <h5 style="color: #292b2c">
          Bienvenidos al sitio del Club del Ovejero Belga
        </h5>
      </div>
    </div>

    <div class="col-md-6 content-time-line">
      <a
        class="twitter-timeline"
        data-lang="es"
        data-height="540"
        data-width="580"
        data-theme="light"
        href="https://twitter.com/BelgaClub?ref_src=twsrc%5Etfw">
      </a>
    </div>

  </div>

</div>
