
<div class="container" style="text-align: center">
  <div class="row">
    <div style="padding-top: 40px;">
      <h2>REGLAMENTO DE RANKING 2011
      </h2>
      <br>
      <br>
      <p>
        MEJOR DE RAZA: 10 PUNTOS X PERRO BATIDO MÀS LOS 10 PUNTOS DE SÌ MISMO.
      </p>
     <p>
       SEXO OPUESTO: 6 PUNTOS X PERRO BATIDO MÀS LOS 6 DE SI MISMO. MENOS EL
       QUE GANÒ.
     </p>
      <p>
        CUANDO UN JOVEN GANA LA RAZA: SE SUMAN 10 PUNTOS X CADA ADULTO BATIDO.
        MÀS 10 PUNTOS DE SI MISMO (RESULTANDO
        COMO: 1 PERRO MÀS)
      </p>
      <p>
        CUANDO UN JOVEN SALE SEXO OPUESTO DE RAZA: SE SUMAN 6 PUNTOS X CADA
        ADULTO BATIDO, SIN CONTAR AL QUE GANÒ LA RAZA, MÀS LOS 6 PUNTOS DE SÌ MISMO.
      </p>
      <p>
        LOS VETERANOS SUMAN PUNTAJE PARA EL C.A.C Y TAMBIÈN SUMAN PARA EL
        RANKING, COMO UNA CATEGORÌA MÀS.
      </p>
      <p>
        RANKING DE CRIADEROS

        SE SUMA: 4 PUNTOS X PERRO QUE ENTRÒ X EL C.A.C.
      </p>
    </div>
  </div>
</div>
<br>
<br>
<hr>
