<div class="container rankings-title">
  <h1>Reglamentos</h1>
</div>
<div class="rankings-content">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#selectivosMundiales">Selectivos Mundiales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#trabajo">Trabajo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#ranking">Ranking</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#fca">FCA</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="selectivosMundiales">
      <ul class="list-group media-list media-list-stream">
        <app-selectivos-mundiales></app-selectivos-mundiales>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="trabajo">
      <ul class="list-group media-list media-list-stream">
        <app-trabajo></app-trabajo>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="ranking">
      <ul class="list-group media-list media-list-stream">
        <app-ranking></app-ranking>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="fca">
      <ul class="list-group media-list media-list-stream">
        <app-fca></app-fca>
      </ul>
    </div>
  </div>
</div>
