<div class="container">
  <br>
  <br>
  <br>
  <h4>INTERNACIONALES</h4>
  <br>
  <div class="table-responsive">
    <table class="table product-table">
      <!--Table head-->
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Especialidad</th>
      </tr>
      </thead>
      <!--/Table head-->

      <!--Table body-->
      <tbody>

      <!--First row-->
      <tr>
        <td>
          <h5><strong>César Lusiardo</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>
      <!--/First row-->

      <!--Second row-->
      <tr>
        <td>
          <h5><strong>Jorge Paolillo</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>
      <!--/Second row-->

      </tbody>
      <!--/Table body-->
    </table>
  </div>
  <br>
  <br>
  <br>
  <h4>NACIONALES</h4>
  <br>
  <div class="table-responsive">
    <table class="table product-table">
      <!--Table head-->
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Especialidad</th>
      </tr>
      </thead>
      <!--/Table head-->

      <!--Table body-->
      <tbody>

      <!--First row-->
      <tr>
        <td>
          <h5><strong>Eduardo Taliano</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>
      <!--/First row-->

      <!--Second row-->
      <tr>
        <td>
          <h5><strong>Guillermo Gonzalez</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>
      <!--/Second row-->

      <!--Third row-->
      <tr>
        <td>
          <h5><strong>Ricardo Vitaliti</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>
      <!--/Third row-->

      <tr>
        <td>
          <h5><strong>Juan Carlos Ferraro</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <td>
          <h5><strong>Jacqueline Quiróz</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <td>
          <h5><strong>Roberto Pellegrini</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <td>
          <h5><strong>Eduardo Estany</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <td>
          <h5><strong>Fernando Amón</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <td>
          <h5><strong>Teresa Gallo</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <td>
          <h5><strong>José María Giordano</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <td>
          <h5><strong>Gustavo Ferrari</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <td>
          <h5><strong>Adolfo Batke</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>
      <tr>
        <td>
          <h5><strong>José M. Reunaudi</strong></h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>


      </tbody>
      <!--/Table body-->
    </table>
  </div>
  <!--/Shopping Cart table-->
  <br>
  <br>
  <br>

</div>
