<div class="container">
  <br>
  <br>
  <br>
  <h1>Jueces</h1>
  <br>
  <div class="table-responsive">
    <table class="table product-table">
      <!--Table head-->
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Especialidad</th>
      </tr>
      </thead>
      <!--/Table head-->

      <!--Table body-->
      <tbody>

      <!--First row-->
      <tr>
        <td>
          <h5>Eduardo Taliano</h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>
      <!--/First row-->

      <!--Second row-->
      <tr>
        <td>
          <h5>Julio Cesar Lusiardo</h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>
      <!--/Second row-->

      <tr>
        <td>
          <h5>Juan Carlos Ferraro</h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>
      <tr>
        <td>
          <h5>Guillermo Gonzalez</h5>
        </td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <td>
          <h5>Ricardo Vitalitti</h5>
        </td>
        <td>Estructura y Belleza</td>
      </tr>

      <tr>
        <td>
          <h5>Jose Maria Rinaldi</h5>
        </td>
        <td>Estructura y Belleza</td>
      </tr>

      <tr>
        <td>
          <h5>Jorge Paolillo</h5>
        </td>
        <td>Estructura y Belleza</td>
      </tr>

      <tr>
        <td>
          <h5>Jaqueline Quiros</h5>
        </td>
        <td>Estructura y Belleza</td>
      </tr>

      <tr>
        <td>
          <h5>Eduardo Estany</h5>
        </td>
        <td>Estructura y Belleza</td>
      </tr>

      <tr>
        <td>
          <h5>Fernando Alione</h5>
        </td>
        <td>Estructura y Belleza</td>
      </tr>

      <tr>
        <td>
          <h5>Teresa Gallo</h5>
        </td>
        <td>Estructura y Belleza</td>
      </tr>

      <tr>
        <td>
          <h5>Gustavo Ferrari</h5>
        </td>
        <td>Estructura y Belleza</td>
      </tr>

      <tr>
        <td>
          <h5>Giordano</h5>
        </td>
        <td>Estructura y Belleza</td>
      </tr>

      <tr>
        <td>
          <h5>Gaetan Di Giorgio</h5>
        </td>
        <td>Trabajo / Mondioring</td>
      </tr>

      <tr>
        <td>
          <h5>Ariel Zapata</h5>
        </td>
        <td>Trabajo / IPO - Mondioring</td>
      </tr>

      <tr>
        <td>
          <h5>Juan Di Batista</h5>
        </td>
        <td>Trabajo / IPO</td>
      </tr>

      </tbody>
      <!--/Table body-->
    </table>
  </div>
</div>
