<div class="container">
  <div class="table-responsive">
    <table class="table product-table">
      <!--Table head-->
      <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Mail</th>
        <th>Especialidad</th>
      </tr>
      </thead>
      <!--/Table head-->

      <!--Table body-->
      <tbody>

      <!--First row-->
      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>César Lusiardo</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>
      <!--/First row-->

      <!--Second row-->
      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Jorge Paolillo</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>
      <!--/Second row-->

      </tbody>
      <!--/Table body-->
    </table>
  </div>
  <br>
  <br>
  <br>
  <h2>NACIONALES</h2>
  <br>
  <div class="table-responsive">
    <table class="table product-table">
      <!--Table head-->
      <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>N° Matricula</th>
        <th>Especialidad</th>
      </tr>
      </thead>
      <!--/Table head-->

      <!--Table body-->
      <tbody>

      <!--First row-->
      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Eduardo Taliano</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>
      <!--/First row-->

      <!--Second row-->
      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Guillermo Gonzalez</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>
      <!--/Second row-->

      <!--Third row-->
      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Ricardo Vitaliti</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>
      <!--/Third row-->

      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Juan Carlos Ferraro</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Jacqueline Quiróz</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Roberto Pellegrini</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Eduardo Estany</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Fernando Amón</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Teresa Gallo</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>José María Giordano</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Gustavo Ferrari</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>

      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Adolfo Batke</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>
      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>José M. Reunaudi</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Estructura y Belleza</td>

      </tr>


      </tbody>
      <!--/Table body-->
    </table>
  </div>
  <!--/Shopping Cart table-->
  <br>
  <br>
  <br>
  <h2>FIGURANTES</h2>
  <br>
  <div class="table-responsive">
    <table class="table product-table">
      <!--Table head-->
      <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>N° Matricula</th>
        <th>Especialidad</th>
      </tr>
      </thead>
      <!--/Table head-->

      <!--Table body-->
      <tbody>

      <!--First row-->
      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Juan Jose</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Belleza</td>

      </tr>
      <!--/First row-->

      <!--Second row-->
      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Juan Jose</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Belleza</td>

      </tr>
      <!--/Second row-->

      <!--Third row-->
      <tr>
        <th scope="row">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="90" height="90">
        </th>
        <td>
          <h5><strong>Juan Jose</strong></h5>
        </td>
        <td>1234567890</td>
        <td>Belleza</td>

      </tr>
      <!--/Third row-->



      </tbody>
      <!--/Table body-->
    </table>
  </div>

</div>
