<div class="container">

  <h5 class="category-title">OVEJERO BELGA GROENENDAEL</h5>
  <br>

  <table class="table table-hover">

  <!------------------------------------------- MEJOR ADULTO ----------------------------------------------->
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Mejor Adultos</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>C</td>
      <td>Demo du Tulipe Noir</td>
      <td>234</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>CLVI</td>
      <td>Tùpac de 3-Fi</td>
      <td>100</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">3</th>
      <td>Luan du Tulipe Noir</td>
      <td>60</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">3</th>
      <td>Qui de 3-Fi</td>
      <td>60</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">4</th>
      <td>Tahis de 3-Fi</td>
      <td>54</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">5</th>
      <td>Vera de 3-Fi</td>
      <td>48</td>
    </tr>
    </tbody>
  <!------------------------------------------------------------------------------------------------>


  <!------------------------------------------- MEJOR JOVEN ----------------------------------------------->
    <thead>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col">Mejor Joven</th>
    <th scope="col"></th>
    </thead>
    <tbody>
    <tr>
      <th colspan="2" scope="row">1</th>
      <td>Duende del Fuego Victor</td>
      <td>60</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">2</th>
      <td>Duende del Fuego Verenice</td>
      <td>12</td>
    </tr>
    </tbody>
  <!------------------------------------------------------------------------------------------------>


  <!------------------------------------------- MEJOR CACHORRO ----------------------------------------------->
    <thead>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col">Mejor Cachorro</th>
    <th scope="col"></th>
    </thead>
    <tbody>
    <tr>
      <th colspan="2" scope="row">1</th>
      <td>Umo du Tulipe Noir</td>
      <td>40</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">2</th>
      <td>Xilva du Tulipe Noir</td>
      <td>20</td>
    </tr>
    </tbody>
  <!------------------------------------------------------------------------------------------------>
  </table>


  <h5 class="category-title">OVEJERO BELGA TERVUEREN</h5>
  <br>

  <table class="table table-hover">
  <!------------------------------------------- MEJOR ADULTO ----------------------------------------------->
    <thead>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col">Mejor Adulto</th>
    <th scope="col"></th>
    </thead>
    <tbody>
    <tr>
      <th colspan="2" scope="row">1</th>
      <td>Ron du Tulipe Noir</td>
      <td>160</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">2</th>
      <td>Alef Shin Nicolina</td>
      <td>90</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">3</th>
      <td>Duende del Fuego Whitney</td>
      <td>36</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">4</th>
      <td>Duende del Fuego Wayko</td>
      <td>30</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">5</th>
      <td>Almendra de Txacur Beltza</td>
      <td>6</td>
    </tr>
    </tbody>
  <!------------------------------------------------------------------------------------------------>


  <!------------------------------------------- MEJOR JOVEN ----------------------------------------------->
    <thead>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col">Mejor Joven</th>
    <th scope="col"></th>
    </thead>
    <tbody>
    <tr>
      <th colspan="2" scope="row">1</th>
      <td>Duende del Fuego Whitney</td>
      <td>44</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">2</th>
      <td>Duende del Fuego Wayco</td>
      <td>30</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">2</th>
      <td>Ron du Tulipe Noir</td>
      <td>30</td>
    </tr>
    </tbody>
  </table>
  <!------------------------------------------------------------------------------------------------>

  <br>

  <h5 class="category-title">OVEJERO BELGA MALINOIS</h5>
  <br>

  <!------------------------------------------- MEJOR ADULTO ----------------------------------------------->
  <table class="table table-hover">
    <thead>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col">Mejor Adulto</th>
    <th scope="col"></th>
    </thead>
    <tbody>
    <tr>
      <th colspan="2" scope="row">1</th>
      <td>Arvak de Carcobol</td>
      <td>80</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">2</th>
      <td>Hetoile de los Siete Robles</td>
      <td>12</td>
    </tr>
    </tbody>
  <!------------------------------------------------------------------------------------------------>


  <!-----------------------------------------  MEJOR CACHORRO ESPECIAL  --------------------------->
    <thead>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col">Mejor Cachorro Especial</th>
    <th scope="col"></th>
    </thead>
    <tbody>
    <tr>
      <th colspan="2" scope="row">1</th>
      <td>Yammi du Tulipe Noir</td>
      <td>60</td>
    </tr>
    <tr>
      <th colspan="2" scope="row">2</th>
      <td>Yimba du Tulipe Noir</td>
      <td>24</td>
    </tr>
    </tbody>
  </table>
  <!------------------------------------------------------------------------------------------------>

</div>
