<div class="container">
  <br>
  <br>
  <br>
  <h1>Resultados</h1>
  <br>
  <br>
  <br>

  <h3>Capeonato I.P.O 3 </h3>
  <br>
  <br>
  <br>

  <table class="table table-hover">

    <thead>
    <tr>
      <th scope="col">Puesto</th>
      <th scope="col">Puntos</th>
      <th scope="col">Ejemplar</th>
      <th scope="col">Propietario</th>
      <th scope="col">Guia</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <th scope="row">Campeón</th>
      <th scope="row">263</th>
      <td>K-Che-Me-Achí Du Tulipe Noir</td>
      <td>Jorge Paolillo</td>
      <td>F. la Monica</td>
    </tr>

    <tr>
      <th scope="row">Sub Campeón</th>
      <th scope="row">245</th>
      <td>Bill Von Anaujhaus</td>
      <td>Soledad Bofil </td>
      <td>F. la Monica</td>
    </tr>

    <tr>
      <br>
    </tr>

    <tr>
      <th scope="row"></th>
      <td><strong>Promocional Disciplina</strong></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Campeón</th>
      <th scope="row">32</th>
      <td>Lobo Du Tulipe Noir</td>
      <td>Marcelo Fitipaldi</td>
      <td>F. la Monica</td>
    </tr>

    </tbody>
  </table>
</div>

<br>
<br>
<br>
<p style="text-align: center">
  *Los perros que entran para competir en el Campeonato C.O.B  deberán asistir a 2 competencias minimo x año .
</p>
