
<div class="container" style="text-align: center">
  <div class="row">
    <div style="padding-top: 40px;">
      <h2>REGLAMENTO PARA SOLICITUD DE INSCRIPCION PARA EXAMENES</h2>
      <br>
      <br>
      <p>
        BH , IPO 1 / 2 /3 , MONDIORING 1 / 2 / 3.
      </p>
      <p>
        La solicitud de inscripción para rendir uno o varios exámenes deberá cumplir los
        siguientes requisitos:
      </p>
      <p>
        Dicha solicitud debe ingresar al C.O.B. con una anticipación mínima de 30
        (treinta) días, sea en forma personal o mediante el envío de fax o e-mail, en todos los casos se
        considerarán los treinta días contados a partir del momento en que los mismos ingresen a la
        Secretaría del Club.
      </p>
      <p>
        Se solicita que quienes inscriban ejemplares o Clubes intervinientes hagan conocer a los Sres
        Socios los exámenes que se rendirán en cada ocasión a los efectos de que puedan ser
        observados por los aficionados que así lo deseen.
      </p>
      <p>
        Deben figurar los datos genealógicos del o de los ejemplares que figuren en el pedigreé.(
        Nombre, tatuaje/chip, criador, etc). Los datos del responsable, del guía y Figurante, el Juez lo
        designarà el Club .
      </p>
      <p>
        El examen BH es obligatorio para todo ejemplar que pretenda rendir exámenes superiores. El
        predio para rendir la sección “A “deberá cumplir con lo expresado respecto a los
        exámenes superiores en todo con excepción del tamaño del mismo, aceptándose que su
        superficie sea de 35 metros por 50 metros.
      </p>
      <p>
        La sección “B “se realizará en un espacio publico que cumpla la reglamentación al efecto.
        Ambos espacios se detallarán en la solicitud
        Para rendir exámenes superiores se informará el lugar de rastreo, si corresponde;
        el horario de marcación y puesta y el o los marcador/es y ayudante si fuera reglamentario
        Se consignará geográficamente el predio de la secciones “B “y “C “el que debe
        tener una superficie plana mínima que garantice la colocación reglamentaria de seis biombos
        (aproximadamente 70 metros por 90 metros), y tendrá cobertura cespitosa básica o arenosa
        compactada. Contará con alambrado o pared perimetral que evite el tránsito de ocasionales
        asistentes o de otros perros, como así también evitar el abandono del campo por los
        ejemplares evaluados, por lo cual queda establecido que no se pueden usar plazas o parques
        de uso público. . Deberá contar con sanitarios instalados o baños químicos transitorios y
        prever, que ante una eventualidad, se contará rápidamente con una asistencia veterinaria y / o
        médica de urgencia.
      </p>
      <p>
        El Director de Campo tiene la responsabilidad de garantizar el buen desarrollo de la
        prueba y estar a disposición del Juez durante la totalidad de la misma. No podrá presentar
        ningún ejemplar en la fecha en que se desempeñe en tal condición.
      </p>
      <p>
        Preparará los elementos necesarios, revólver, balas, banderas demarcatorias, biombos, y
        deberá asegurar que el traje y la manga de protección estén en correctas condiciones de uso.
        Al costado del campo deberá obrar una carpa, gazebo o similar con una mesa y sillas, un
        Botiquín con lo mínimo necesario para brindar un primer auxilio ante un eventual accidente .
        Será el encargado de la documentación , pedigrees, cartillas de vacunación y las planillas de
        calificación.
      </p>
      <p>
        Deberá asegurar la presencia de cuatro personas para cumplir el ejercicio "entre personas".
        Asistirá al Juez en la verificación del tatuaje o Chip correspondiente por lo cual se recomienda
        averiguar en el momento de la inscripción si el ejemplar está tatuado o tiene el chip incorporado
        a los efectos de solicitar a la institución el lector de chips.
      </p>
      <p>
        El Juez está facultado para suspender o anular la prueba cuando el campo de rastros ,
        el predio o el espacio público ( BH ), no reunan las condiciones adecuadas o bien cuando las
        condiciones climáticas y de seguridad y salud propias y de los participantes y de los perros
        estén en riesgo, asimismo cuando se considere que un ejemplar no está en condiciones
        óptimas para rendir el examen, podrá determinarse el retiro del binomio (perro- guía ),
        colocándose en la planilla correspondiente "Enfermedad o lesión como causa de abandono"
        El CULB del OVEJERO BELGA se reservarà el derecho de admisión y permanencia de toda
        persona que no se comporte adecuadamente ,respecto a los estatutos del Club .
      </p>
      <p>
        Todos los examenes seràn ARANCELADOS .
        El C.O.B homologarà o no dichos examenes una vez recibido el informe correspondiente del
        juez de la muestra .
      </p>
      <p>
        SUB-COMISIÒN DE ADIESTRAMIENTO, PRENSA Y DIFUSIÒN
        CLUB DEL OVEJERO BELGA
      </p>
    </div>
  </div>
</div>
<br>
<br>
<hr>
