<div class="container">
  <br>
  <br>
  <br>
  <h1>Figurantes</h1>
  <br>
  <div class="table-responsive">
    <table class="table product-table">
      <!--Table head-->
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Especialidad</th>
      </tr>
      </thead>
      <!--/Table head-->

      <!--Table body-->
      <tbody>

      <!--First row-->
      <tr>
        <td>
          <h5>Juan Manuel Barratines</h5>
        </td>
        <td>IPO</td>

      </tr>
      <!--/First row-->

      <!--Second row-->
      <tr>
        <td>
          <h5>Javier Alvarez</h5>
        </td>
        <td>IPO</td>

      </tr>
      <!--/Second row-->

      <tr>
        <td>
          <h5>Ariel Santillan</h5>
        </td>
        <td>IPO</td>

      </tr>
      <tr>
        <td>
          <h5>Sebastian Lencisa</h5>
        </td>
        <td>IPO</td>

      </tr>

      <tr>
        <td>
          <h5>Sebastian Lencisa</h5>
        </td>
        <td>MONDIORING</td>
      </tr>

      <tr>
        <td>
          <h5>Juan Facundo Leiva</h5>
        </td>
        <td>MONDIORING</td>
      </tr>

      </tbody>
      <!--/Table body-->
    </table>
  </div>
</div>
